@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to top, #024873, #024059,#ADD1D9, #8B8C88, #A67665 );
}

p {
    text-align: justify;
}

main {
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a676658c;
}

h1 {
    color: #024873;
    text-align: center;
    text-shadow: 1px 1px 3px #5b403770;
}

h2 {
    color: #024873;
}

